<div class="single-post-area style-2">
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
                <img src="<%-news.image_link%>" alt="">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <!-- Post Content -->
            <div class="post-content mt-0">
                <a href="https://tuoitre.vn/" class="post-cata cata-sm cata-<%-news.color%>"><%-news.generator%></a>
                <a href="/news?id=<%-news.id%>" class="post-title mb-2"><%-news.title%></a>
                <div class="post-meta d-flex align-items-center mb-2">
                    <!-- <a href="#" class="post-author">By Jane</a> -->
                    <!-- <i class="fa fa-circle" aria-hidden="true"></i> -->
                    <a href="#" class="post-date"><%-news.createdAt%></a>
                </div>
                <p class="mb-2"><%-news.description%></p>
                <div class="post-meta d-flex">

                </div>
            </div>
        </div>
    </div>
</div>