<div class="single-feature-post video-post bg-img" style="background-image: url(<%-news.image_link%>);">
    <!-- Post Content -->
    <div class="post-content">
        <a href="/<%-news.category_key%>" class="post-cata cata-<%-news.color%>"><%-news.category_title%></a>
        <a href="/news?id=<%-news.id%>" class="post-title"><%-news.title%></a>
    </div>
</div>